.footer {
   background: #f8f8f8;
   @include adaptiv-value("padding-top", 55, 30, 1);
   @include adaptiv-value("padding-bottom", 30, 20, 1);
   &__row {
      display: flex;
      justify-content: center;
      padding: 0px 15px;
      @media (max-width: 700px) {
         flex-wrap: wrap;
      }
   }

   &__column {
      @include adaptiv-value("margin-right", 60, -50, 1);
      @include adaptiv-value("margin-left", 60, -50, 1);
      @include adaptiv-value("margin-bottom", 40, 20, 1);
      @media (max-width: 700px) {
         flex: 1 1 50%;
         margin: 0px 0px 20px 0px;
         text-align: center;
      }
      @media (max-width: $md4+px) {
         flex: 1 1 100%;
      }
   }

   &__label {
      font-weight: 700;
      @include adaptiv-font(15, 16, 1);
      line-height: 20 / 15 * 100%;
      color: #4e5665;
      margin: 0px 0px 20px 0px;
      @include adaptiv-value("margin-bottom", 20, 10, 1);
      background: none;
      text-transform: uppercase;
      position: relative;
      @media (max-width: 700px) {
         &::before,
         &::after {
            content: "";
            background: #4e5665;
            top: 50%;
            transform: translate(0px, -50%);
            right: -20px;
            position: absolute;
         }
         &::before {
            height: 10px;
            width: 2px;
            right: -16px;
            transition: all 0.5s ease 0s;
         }
         &::after {
            width: 10px;
            height: 2px;
         }
         &._active {
            &::before {
               height: 0;
            }
         }
      }
   }

   &__list {
   }

   &__link {
      @extend .label;
      line-height: 19 / 14 * 100%;
      transition: all 0.5s ease 0s;
      margin: 0px 0px 8px 0px;
      display: inline-flex;
      align-items: center;
      &::before {
         transition: all 0.5s ease 0s;
         font-size: 16px;
         color: #dadada;
         margin: 0px 12px 0px 0px;
      }
      &._icon-message:before {
         font-size: 13px;
      }
      @media (min-width: $md2+px) {
         &:hover {
            color: #ecb84c;
            &::before {
               color: #ecb84c;
            }
         }
      }
   }

   &__copy {
      display: flex;
      justify-content: center;
      @extend .label;
      line-height: 19 / 14 * 100%;
      transition: all 0.5s ease 0s;
      @media (min-width: $md2+px) {
         &:hover {
            color: #ecb84c;
         }
      }
   }
}
